
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    display: flex;
}

.headerLeft{
    display: flex;
    align-items: center;
}

.logo{
    padding: 20px;
    border-right: 1px solid #ccc;
}

.headerAddress{
    padding: 20px;
}